<h3>{{title}}</h3>

<div [ngClass]="'divMenu'">
<strong><a [routerLinkActive]="['active']" [ngClass]="'menu'" [routerLink]="['/inicio']">Home</a></strong>
<strong><a [routerLinkActive]="['active']" [ngClass]="'menu'" [routerLink]="['/empleado']">Empleado</a></strong>
<strong><a [routerLinkActive]="['active']" [ngClass]="'menu'" [routerLink]="['/fruta']">Fruta</a></strong>
<strong><a [routerLinkActive]="['active']" [ngClass]="'menu'" [routerLink]="['/contacto']">Contacto</a></strong>
</div>

<br>
<br>


<router-outlet></router-outlet>



