.bordeAzul{
  border: 5px solid blue !important;
}

.bordeVerde{
  border: 5px solid green !important;
}

.menu{
  padding: 5px;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.divMenu{
  background: #117a8b;
  padding: 5px;
}

.menu:hover{
  background: white;
  color: #117a8b;
  transition: 300ms;
}

.active{
  background: white;
  color: #117a8b;
}


